body, html {
    height: 100%;
}
body {
    display: flex;
    align-items: center;
    font-size: 16px;
    justify-content: center;
    font-family: sans-serif;
    margin: 0;

}

nav{

    background-color: #f9f9f9;

}

nav > ul {

    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-around;

}

.nav-item {
    padding: 3rem;
}